In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
from data_clean import DataCleaning as clean

# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#Get the current working directory
current_dir = os.getcwd()

#Navigate up one level to the parent directory
parent_dir = os.path.dirname(current_dir)

#Read the CSV file using pandas
train = pd.read_csv(parent_dir+"\\datasets\\training.csv")

data_info = pd.read_excel(parent_dir+"\\datasets\\31_資料欄位說明.xlsx")

In [ ]:
data_info

,訓練資料集,訓練資料欄位名稱,訓練資料欄位中文說明,資料格式,備註
0,cdtx0002_hist,txkey,交易序號,類別型,NaN
1,NaN,locdt,授權日期,數值型,"切齊第一天為0,以此類推"
2,NaN,loctm,授權時間,數值型,NaN
3,NaN,chid,顧客ID,類別型,NaN
4,NaN,cano,交易卡號,類別型,NaN
5,NaN,contp,交易類別,類別型,NaN
6,NaN,etymd,交易型態,類別型,NaN
7,NaN,mchno,特店代號,類別型,NaN
8,NaN,acqic,收單行代碼,類別型,NaN
9,NaN,mcc,mcc_code,類別型,NaN
10,NaN,conam,交易金額-台幣,數值型,NaN
11,NaN,ecfg,網路交易註記,類別型,NaN
12,NaN,insfg,是否分期交易,類別型,NaN
13,NaN,iterm,分期期數,數值型,NaN
14,NaN,bnsfg,是否紅利交易,類別型,NaN
15,NaN,flam1,實付金額,數值型,NaN
16,NaN,stocn,消費地國別,類別型,台灣=0
17,NaN,scity,消費城市,類別型,NaN
18,NaN,stscd,狀態碼,類別型,NaN
19,NaN,ovrlt,超額註記碼,類別型,NaN
20,NaN,flbmk,Fallback註記,類別型,NaN
21,NaN,hcefg,支付型態,類別型,NaN
22,NaN,csmcu,消費地幣別,類別型,NaN
23,NaN,csmam,消費地金額,數值型,NaN
24,NaN,flg_3dsmk,3D交易註記,類別型,NaN
25,NaN,label,盜刷與否,類別型,NaN
26,NaN,NaN,NaN,NaN,NaN
27,上傳檔案,資料欄位名稱,資料欄位中文說明,資料格式,備註
28,NaN,txkey,交易序號,類別型,"提供的檔案中，第0~600,182筆為public set，剩下的為private set"
29,NaN,pred,預測值,類別型,NaN

In [ ]:
train.shape

(8688526, 26)

In [ ]:
train.head()

,txkey,locdt,loctm,chid,cano,contp,etymd,mchno,acqic,mcc,...,stocn,scity,stscd,ovrlt,flbmk,hcefg,csmcu,csmam,flg_3dsmk,label
0,1c09727c939eb69ead2a4ce4072b8aa18992a64f01fcb4...,46,101812,84d2dc85d4da6a7fa284a11a4290d7e9a969163dcb4d82...,3dd5bf1e29e5e0baa789ce692fe5dbd34ff05173acf351...,5,1.0,cad752c5d05d2bdcc30d64fa4e68404c2d1f7be5d14d52...,8f6b3ff512a001e0d1988c6cd888ef8c74112fb71117e5...,375.0,...,0.0,15759.0,NaN,0,0,6.0,70.0,1529,0,0
1,2043f245a93bc6328dac964d6dbc89f13a0346062c194d...,17,85509,9a8cf5d0afd729cb7876f6b3172152c7c9c6fabd40515c...,8cb13f9b38c7bbc02d210e580dcbbcbb6c95bf18bc3320...,5,8.0,4356c6642ef6e837543b577c7ee3ffa92b4b8fcfb57254...,379166ff4a62dac343b4b734188aa618716cc496e48b65...,282.0,...,0.0,15759.0,NaN,0,0,8.0,70.0,101,0,0
2,e4853710290a8409279f3279f8032ae670824bd19aa173...,44,212641,dcc1389a5765d6f53152cf85970fbe78a83fd3d1c299b0...,1ec32868e5e1d5ff8df56737c2a91326cbfe3364382de6...,5,4.0,5b7eff061f8896aac4339ea35c25f8bb956a43bc486460...,8f6b3ff512a001e0d1988c6cd888ef8c74112fb71117e5...,288.0,...,0.0,15759.0,NaN,0,0,6.0,70.0,116,0,0
3,74d811b1dbc28b22b73ba2c79bb6033791d913b6d27a25...,42,102702,577f2329d1eccd59ba0abaf6113bb78dcd575badcbc57f...,4359dca1ac6a835eceb2bc0dd6b0b710f030c3499126e9...,5,1.0,cad752c5d05d2bdcc30d64fa4e68404c2d1f7be5d14d52...,36684976be1f529e6e2a32c9edab4cf8e364b2b916ae2c...,375.0,...,0.0,15759.0,NaN,0,0,6.0,70.0,1683,0,0
4,68ca182343969d429d79a34e532bc1ca7a3cc032c2ad81...,31,185737,fff6b4126c40620b1fbb11d4de02cd67b9e95071caa40b...,a3837f2905383f235a72679482c5f02e40f2a8ca29750d...,5,5.0,50d5b02ce3fc88723438c2a29cfdb04be4a1a11280ddb6...,379166ff4a62dac343b4b734188aa618716cc496e48b65...,406.0,...,0.0,15759.0,NaN,0,0,6.0,70.0,14,0,0

In [32]:
train.dtypes

txkey         object
locdt          int64
loctm          int64
chid          object
cano          object
contp          int64
etymd        float64
mchno         object
acqic         object
mcc          float64
conam        float64
ecfg           int64
insfg          int64
iterm        float64
bnsfg          int64
flam1          int64
stocn        float64
scity        float64
stscd        float64
ovrlt          int64
flbmk          int64
hcefg        float64
csmcu        float64
csmam          int64
flg_3dsmk      int64
label          int64
dtype: object

# Missing Value

In [4]:
train.isna().sum()

txkey             0
locdt             0
loctm             0
chid              0
cano              0
contp             0
etymd        203455
mchno             0
acqic             0
mcc               0
conam             0
ecfg              0
insfg             0
iterm             0
bnsfg             0
flam1             0
stocn           600
scity        266066
stscd             0
ovrlt             0
flbmk             0
hcefg             0
csmcu             0
csmam             0
flg_3dsmk         0
label             0
dtype: int64

In [ ]:
train.etymd = list(map(str, train.etymd))
train.etymd.value_counts()

etymd
5.0     2463603
4.0     2446956
8.0     1980614
1.0     1283373
3.0      209619
nan      203455
0.0       85308
9.0       14873
2.0         577
10.0         85
7.0          63
Name: count, dtype: int64

In [ ]:
train.mcc.value_counts()

mcc
320.0    1262752
276.0    1141173
282.0     660236
272.0     517042
275.0     379472
          ...
69.0           1
37.0           1
30.0           1
74.0           1
109.0          1
Name: count, Length: 459, dtype: int64

In [ ]:
# 有城市的值後 掛回國家

train.stocn.value_counts()
train.stocn.isna().sum()

stocn
0.0      7827990
126.0     292409
54.0      207011
42.0      114421
113.0      89760
          ...
1.0            1
125.0          1
23.0           1
19.0           1
18.0           1
Name: count, Length: 122, dtype: int64

600

In [ ]:
# In one country, the small proportion of the csmcu
csmcu_stocn_126_s20 = train[train.stocn == 126.0]["csmcu"].value_counts().nsmallest(20).index
csmcu_stocn_126_s20
train[(train.stocn == 126.0) & (train.csmcu.isin(csmcu_stocn_126_s20))]["label"].sum()

Index([61.0, 31.0, 45.0, 12.0, 57.0,  3.0, 36.0, 55.0,  1.0, 67.0, 47.0, 76.0,
       33.0, 23.0, 52.0, 27.0, 10.0, 13.0, 37.0, 62.0],
      dtype='float64', name='csmcu')

82

In [ ]:
train[train.scity.isna()]["acqic"].value_counts()

acqic
814437ad6838efec5e9ebd8600d37a984f221ca2f7a83fb66ccd80505e585745    114349
8ccfdd7858e90e854599488e0f7453996a6268788bf36983ec81e10bc147f826     44449
9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0     37101
9b44e95ff6c0762267771de0b407efdc3f85b210c6dfddcbeb04caed7256fe43     10554
16e2a0ad7a09b6a46a5711b9f79965689383832e4e02dc270da0e35810306270      9056
                                                                     ...
1503c6e8fb1339884696cbd48fab612b870a2c0eab963b093bc1b95231fa7ffa         1
9e0d763ebd1ed3e666b6fac011f9a46c5c122b0f8671924f4f04d9dc5021758d         1
7b9b7a897b00a083ef6b72b1e92bc0469ff4c13971fa27bba3473d4bc449e321         1
b7dadf235d7beb5d4eb30d780e0b6da27c6c64c8def29a29c20d4940727889d8         1
d0596273fe357a0af39fc6beaefd9cb1317b40ca24e54355ff7a35dd318e92fa         1
Name: count, Length: 5911, dtype: int64

In [10]:
# X個 >100000 把NAN 掛用logistic 掛回去這 X個城市
# nan city label 的比例

# 相同比例的話 可能需要flag 去determine
train.scity.value_counts()
train.scity.isna().sum()

scity
15759.0    4646717
16115.0     505054
15760.0     244079
13451.0     191376
11380.0     183163
            ...
15341.0          1
4031.0           1
13850.0          1
14759.0          1
15112.0          1
Name: count, Length: 12003, dtype: int64

266066

2.0

In [ ]:
# NAN 掛-1 代表新類型

train.stscd = list(map(str, train.stscd))
train.stscd.value_counts()

stscd
nan    8665195
1.0      22385
0.0        799
2.0        132
4.0         13
3.0          2
Name: count, dtype: int64

In [ ]:
# 收單行代碼去取星的變數
train.hcefg = list(map(str, train.hcefg))
train.hcefg.value_counts()

hcefg
6.0     7321872
0.0      758808
nan      286656
1.0      184851
3.0       51551
8.0       35638
9.0       35320
7.0       10696
5.0        2479
4.0         490
2.0         159
10.0          6
Name: count, dtype: int64

In [ ]:
# 收單行代碼去取星的變數
train.csmcu.value_counts()

csmcu
70.0    7947443
68.0     122569
81.0      27575
29.0      27074
76.0      12450
         ...
80.0          2
5.0           1
21.0          1
83.0          1
4.0           1
Name: count, Length: 79, dtype: int64

In [ ]:
train[train.csmcu.isna()]["acqic"].value_counts()

acqic
9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0    296411
814437ad6838efec5e9ebd8600d37a984f221ca2f7a83fb66ccd80505e585745    114349
8ccfdd7858e90e854599488e0f7453996a6268788bf36983ec81e10bc147f826     44449
cf12b86a163b0dc6b9d671540aa04b0f533248c91add689f3560c9cc634273fb      7991
ae9f97300a28e73159082ce0920157771fea7b7e59b8072d1442cc84b7fa5efd      1254
                                                                     ...
385d0d3172400e15ea88d44848b1a62af635c8127e6025bc47811629f46c2a25         1
dd8f0c11a32a795c535cf2f8a713d6e43b989e6a88b3600c077fc6ee3084053c         1
e35d1e3d59da9d3e885d6fabc209009676c486d783be1527e13addd757830ffd         1
be9c92a52d04850f205537431ebd684d4dbd9d05acf9c36ecb1fc84a12b7a9c2         1
d0596273fe357a0af39fc6beaefd9cb1317b40ca24e54355ff7a35dd318e92fa         1
Name: count, Length: 5874, dtype: int64

In [2]:
from data_clean import DataCleaning as clean
train1 = train.copy()

clean.fill_csmcu_or_hcefg_acqic(train, cs_hc = "hcefg")
clean.fill_csmcu_or_hcefg_acqic(train, cs_hc = "csmcu")
clean.fill_stscd_neg1(train)
clean.fill_mcc_neg1(train)

clean.fill_scity_etymd_byrf(train, data_info, "etymd", 0.05, 1.0)
clean.fill_scity_etymd_byrf(train, data_info, "scity", 0.05, 0.9)

In [3]:
clean.fill_scity_etymd_byrf(train, data_info, "etymd", 0.001, 1.0)

In [4]:
train.etymd.value_counts()

etymd
4.0     2515177
5.0     2463603
8.0     1980614
1.0     1300458
3.0      319248
0.0       93828
9.0       14873
2.0         577
10.0         85
7.0          63
Name: count, dtype: int64